<div class="sales-dash">

    <!-- HADER -->
    <section class="sales-dash-header sales-section-style hoverable">
        <div class="sales-head-left">
            <span>
                Welcome, Sandeep
            </span>
            <div>
                <span>Period</span>
                <span>
                    <select>
                        <option>Apr 2026</option>
                        <option>Mar 2026</option>
                        <option>Feb 2026</option>
                    </select>
                </span>
            </div>
        </div>
        <div class="sales-head-right">
            <span>
                📈 Monthly sales up 12% from last period
            </span>
        </div>


    </section>


    <!-- CARD -->
    <section class="sales-dash-kpi">

        <div class="kpi-card-layout enquiry">

            <span class="kpi-card-icon"> <i class="fa fa-sticky-note-o"></i></span>

            <span class="kpi-card-label">Enquiries Pending</span>

            <span class="kpi-card-value">621</span>

        </div>

        <div class="kpi-card-layout quotation">

            <span class="kpi-card-icon"> <i class="fa fa-file-text-o"></i></span>

            <span class="kpi-card-label">Quotations Pending</span>

            <span class="kpi-card-value">16</span>

        </div>

        <div class="kpi-card-layout purchase-order">

            <span class="kpi-card-icon"> <i class="fa fa-file"></i></span>

            <span class="kpi-card-label">PO Awaited</span>

            <span class="kpi-card-value"></i>6</span>

        </div>

        <div class="kpi-card-layout sales">

            <span class="kpi-card-icon"> <i class="fa fa-line-chart" aria-hidden="true"></i> </span>

            <span class="kpi-card-label">Revenue</span>

            <span class="kpi-card-value"><i class="fa fa-inr" aria-hidden="true"></i>6</span>

        </div>
    </section>



    <section class="sales-dash-pipeline hoverable">

        <span class="pipe-item pipe-enquiry">
            <span class="dot"></span> Enquiry (127)
        </span>

        ───

        <span class="pipe-item pipe-quotation">
            <span class="dot"></span> Quoted (23)
        </span>

        ───

        <span class="pipe-item pipe-purchase-order">
            <span class="dot"></span> PO (8)
        </span>

        ───

        <span class="pipe-item pipe-sales">
            <span class="dot"></span> Closed (45%)
        </span>

    </section>


    <section class="sales-dash-workzone sales-section-style">
        <div class="sales-priority-task">
            <div class="task-head">Priority Tasks</div>
            <div class="task-cards">
                <div>1</div>
                <div>2</div>
                <div>3</div>
            </div>
            <div class="task-action">View All</div>
        </div>
        <div class="sales-recent-activity">
            <div class="activity-head">Recent Activity</div>
            <div class="activity-cards">CARD</div>
            <div class="activity-action">View All</div>
        </div>
    </section>
</div>
</body>

</html>