<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body>
    <aside class="app__sidebar">
        <div class="sidebar">
            <a href="#">
                <i class="fa fa-dashcube" aria-hidden="true"></i>
                <p>Dashboard</p>
            </a>
            <a href="#">
                <i class="fa fa-sticky-note-o" aria-hidden="true"></i>
                <p>Enquires</p>
            </a>
            <a href="#">
                <i class="fa fa-file-text-o" aria-hidden="true"></i>
                <p>Quotations</p>
            </a>
            <a href="#">
                <i class="fa fa-file" aria-hidden="true"></i>
                <p>PO</p>
            </a>
            <a href="#">
                <i class="fa fa-commenting" aria-hidden="true"></i>
                <p>Chat</p>
            </a>
            <a href="#">
                <i class="fa fa-user" aria-hidden="true"></i>
                <p>Profile</p>
            </a>
        </div>
    </aside>
</body>

</html>