<div class="sidebar">

    <!-- LOGO -->
    <div class="sidebar-logo">
        SalesFlow CRM
    </div>

    <!-- MENU -->
    <nav class="sidebar-menu">

        <!-- MAIN -->
        <div class="menu-group">
            <a class="menu-item hoverable active" href="#">
                <i class="fa fa-dashcube"></i>
                <span>Dashboard</span>
            </a>
        </div>

        <!-- PIPELINE -->
        <div class="menu-group">
            <a class="menu-item hoverable" href="#">
                <i class="fa fa-sticky-note-o"></i>
                <span>Enquiries</span>
            </a>

            <a class="menu-item hoverable" href="#">
                <i class="fa fa-file-text-o"></i>
                <span>Quotations</span>
            </a>

            <a class="menu-item hoverable " href="#">
                <i class="fa fa-file"></i>
                <span>Purchase Orders</span>
            </a>
        </div>

        <!-- SECONDARY -->
        <div class="menu-group secondary">
            <a class="menu-item hoverable   " href="#">
                <i class="fa fa-list-ul" aria-hidden="true"></i>
                <span>Reports</span>
            </a>
            <a class="menu-item hoverable" href="#">
                <i class="fa fa-commenting"></i>
                <span>Chat</span>
            </a>


        </div>

    </nav>

</div>
</body>

</html>